.name {
  font-family: "Oswald", sans-serif;
}

.descripcion {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 960px;
}

.black a {
  color: #da6200;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #da6200;
}

.site-header span {
  fill: #da6200;
  border-color: #ff66cb;
}

.site-header a {
  color: #d35e1b;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #ffa90a;
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: 0%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-image: url(./images/corazon.png);
  background-size: cover;
  border-radius: 5px;
  animation-name: scrolling;
  animation-duration: 80s;
  animation-iteration-count: infinite;
}

@keyframes scrolling {
  0% { background-position: top center; }
  50% { background-position: 30% center; }
  100% { background-position: top center; }
}

@keyframes scrolling2 {
  0% {
    background-position: top center;
  }

  100% {
    background-position: center center;
  }
}

.product-device-2 {
  position: absolute;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #333;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.product-device-2::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-image: url(./images/corazon.png);
  background-size: cover;
  border-radius: 5px;
  animation-name: scrolling2;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn {
  box-shadow: inset 0 1px 0 0 #fff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #727171c5;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  margin: 15px;
}

.btn:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.btn:active {
  position: relative;
  top: 1px;
}

canvas {
  align-items: center;
  display: block;
  margin: auto;
}

#Creative {
  position: relative;
  margin: 0 0;
  height: 10vh;
  max-height: 100px;
  background-image: url("./images/back3.jpg");
  background: rgb(47,19,75);
background: linear-gradient(180deg, rgba(47,19,75,1) 0%, rgba(81,12,97,1) 53%, rgba(118,22,144,1) 100%);
  background-size: cover;
}

/* MAP */
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.mecha {
  background-color: #ecae3c;
  color: #0d0011;
}

.bg-name {
  background-size: 150%;
  min-height: 25vh;
}

.img {
  border-radius: 10px;
  object-fit: cover;
}

.bg-img1 {
  background-image: url("./images/back3.jpg");
  
  background-size: 180%;
}

.bg-img2 {
  background: rgb(46,5,66);
  background: linear-gradient(180deg, rgba(46,5,66,1) 0%, rgba(91,39,133,1) 100%);
}
.color {
  color: #da6200;
}

.custom-toggler.navbar-toggler {
  border-color: #ff66cb;
}

iframe {
  width: 100%;
  height: 100%;
}

.cube {
  background-color: #131313;
}

.shadow{
  text-shadow: 2px 2px 3px #000000;
}